@use './reset';
@use './colors' as *;

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
}

.navbar-brand{
    font-size: 2rem;
    font-weight: 300;
}

.navbar-toggler {
    padding: 10px 15px;
    border-color: $color-white;
}

nav {
    text-transform: uppercase;
    .nav-link, .navbar-brand, .fa-bars {
        color: $color-white;
    }
}

.nav-link:focus, .nav-link:hover, .navbar-brand:hover, .navbar-nav .nav-link.active {
    color: $color-primary;
}