@use './reset';

body {
	background-color: #fff;
	font-family: 'Nunito';
	font-size: 1.6rem;
}

.wrapper {
	height: 100%;
	display: flex;
	margin: 0 auto;
	max-width: 1300px;
}

h1,
h2,
h3,
h3,
h5,
h6,
.logo {
	font-family: 'Cormorant Garamond';
}

// header: logo

header {
	height: 80px;
	padding: 0 45px;
	background-color: #d3d3d3;

	.header-logo {
		display: flex;
		width: 30%;

		.logo {
			display: flex;
			align-items: center;

			a {
				display: flex;
				align-items: center;
				font-size: 4.5rem;
				font-weight: bold;
				cursor: pointer;
			}

			img {
				height: 4.5rem;
			}
		}
	}
}

// header: navigation

.nav-container {
	display: flex;
	justify-content: flex-end;
	width: 70%;

	nav {
		ul {
			display: flex;
		}

		li {
			list-style: none;
		}

		a {
			display: block;
			padding: 0 30px;
			line-height: 80px;
			transition: 0.5s background-color;
			font-size: 2rem;

			&:hover,
			&:active {
				background-color: rgba(144, 238, 144, 0.8);
			}
		}
	}
}

// mobile

@media (max-width: 992px) {
	header {
		padding: 0 30px;
	}

	.header-logo {
		width: 50%;
	}

	.nav-container {
		position: absolute;
		justify-content: center;
		padding-bottom: 20px;
		width: 50%;
		top: 80px;
		right: 0;
		background-color: rgba(144, 238, 144, 0.8);

		nav {
			ul {
				flex-direction: column;
			}
		}
	}
}

@media (max-width: 576px) {
	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 3rem;
	}

	h3 {
		font-size: 2.5rem;
	}

	h4 {
		font-size: 2.2rem;
	}

	h5 {
		font-size: 2rem;
	}

	h6 {
		font-size: 1.8rem;
	}

	header {
		padding: 0 15px;
	}

	.nav-container {
		width: 100%;
	}

	.logo a {
		font-size: 3.5rem;
	}

	.logo img {
		height: 3.5rem;
	}
}
