@use './reset';

body {
	background-color: #fff;
	font-family: 'Nunito';
	font-size: 1.6rem;
}

.wrapper {
	height: 100%;
	display: flex;
	margin: 0 auto;
	max-width: 1300px;
}

h1,
h2,
h3,
h3,
h5,
h6,
.logo {
	font-family: 'Cormorant Garamond';
}

// header: logo

header {
	height: 80px;
	padding: 0 45px;
	background-color: #d3d3d3;
}

.header-logo {
	display: flex;
	width: 30%;
}

.logo {
	display: flex;
	align-items: center;
}

.logo a {
	display: flex;
	align-items: center;
	font-size: 45px;
	font-weight: bold;
	cursor: pointer;
}

.logo img {
	height: 45px;
}

// header: navigation

.nav-container {
	display: flex;
	justify-content: flex-end;
	width: 70%;
}

nav ul {
	display: flex;
}

nav li {
	list-style: none;
}

nav a {
	display: block;
	padding: 0 30px;
	line-height: 80px;
	transition: 0.5s background-color;
	font-size: 20px;
}

nav a:hover,
nav a:active {
	background-color: rgba(144, 238, 144, 0.8);
}

// mobile

@media (width <= 800px) {
	.nav-container {
		position: absolute;
		justify-content: center;
		width: auto;
		min-width: 300px;
		top: 80px;
		right: 0;
		background-color: rgba(144, 238, 144, 0.8);
	}

	nav ul {
		flex-direction: column;
	}
}
