@use './reset';

body {
	background-color: lightgray;
}

.wrapper {
	height: 100%;
	display: flex;
	margin: 0 auto;
	max-width: 1300px;
}

header {
	height: 80px;
}

.logo {
	display: flex;
	align-items: center;
	width: 30%;
	font-size: 40px;
}

.logo img {
	padding-right: 10px;
	height: 40px;
}

nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 70%;
	font-size: 20px;
}

nav ul {
	display: flex;
	justify-content: center;
	height: 100%;
}

nav li {
	display: flex;
	align-items: center;
	padding: 0 30px;
}