* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 30px;
	background-color: lightblue;
}

.wrapper {
	width: 440px;
	background-color: white;
	border: 5px solid blue;
}
