*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2.2rem;
}

h6 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style-position: inside;
}

body {
  background-color: #d3d3d3;
  font-family: "Nunito";
  font-size: 1.6rem;
}

body::-moz-selection {
  background-color: rgba(159, 192, 159, 0.6);
}

body::selection {
  background-color: rgba(159, 192, 159, 0.6);
}

h1,
h2,
h3,
h3,
h5,
h6,
.logo {
  font-family: "Cormorant Garamond";
}

a {
  transition: 0.5s color;
}

.wrapper {
  height: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1300px;
}

.hero-bg {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

header {
  height: 80px;
}

.header-logo {
  display: flex;
  width: 30%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo a {
  display: flex;
  align-items: center;
  font-size: 45px;
  font-weight: bold;
  cursor: pointer;
}

.logo img {
  height: 45px;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 70%;
  font-size: 20px;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
}

nav a {
  display: block;
  padding: 0 30px;
  line-height: 80px;
  transition: 0.5s background-color;
}

nav a:hover {
  background-color: rgba(144, 238, 144, 0.8);
}

.hero {
  position: relative;
  background-image: url("https://cdn.pixabay.com/photo/2016/11/08/04/49/jungle-1807476_1280.jpg");
  background-size: cover;
  background-position: center;
}

.hero::before,
.hero::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}

.hero::before {
  top: 0;
  height: 10px;
  background: linear-gradient(135deg, #d3d3d3 10%, transparent 80%);
}

.hero::after {
  bottom: 0;
  height: 10px;
  background: linear-gradient(-135deg, #d3d3d3 10%, transparent 80%);
}

.hero-text {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 600px;
  font-size: 25px;
  color: white;
}

.hero-text p,
.hero-text h1 {
  z-index: 1;
}

.hero-text p {
  position: relative;
}

.hero-text p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 1px solid white;
}

.hero-text h1 {
  margin-top: 20px;
  text-shadow: 2px 2px black;
}

.about_us {
  height: 600px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about_us-h1_bgc {
  padding: 0px 10%;
  margin-bottom: 40px;
  transform: skew(45deg);
  background-color: rgba(144, 238, 144, 0.8);
}
.about_us-h1_bgc h1 {
  transform: skew(-45deg);
}
.about_us-desc {
  display: flex;
  height: 400px;
}
.about_us-desc img {
  width: 50%;
  margin-right: 50px;
}
.about_us-desc div {
  width: 50%;
}
.about_us-desc h2 {
  margin-bottom: 20px;
}
.about_us-desc p {
  height: 80%;
  overflow: hidden;
  line-height: 1.8;
}

@media (768px >= width) {
  .hero-text h1 {
    padding: 0 30px;
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */